li{
    display:inline;
    padding-left: 5%;

}

a{
    text-decoration: none;
}



@media (min-width: 480px){
    /*celular*/
    body{
    font-family: arial, sans-serif;
    background:	#C0C0C0;
    width: 100%;
	margin: auto;

    }

    .principal{
        background-color: blue;
        height: 1000px;
        width: 1000px;
       
        margin-top: 5px;
    }

    .topo-img{
        background-image: url(../imagens/topo.png);
        background-repeat: no-repeat;       
        width: 600px;
        height: 338px;
        margin-top: 1%;
        margin-left: 20%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 2%;
    }

    .menu-detalhe{
        background-color: aliceblue;
        opacity: 0.5;
        
        border-bottom: #000080;
        border-width: 3px;
        border-bottom-style: solid;
        border-radius: 10px 10px 0px 0px;


    }


    .menu{
        color: 	#000080;
        padding-top: 1%;
        font-weight: bold;
        margin-left: 5%;
        padding-left: 10%;

        
        
    }

    .itens-centro{
        
        font-weight: bold;
        margin-left: 10%;
        margin-top: 1%;
        width: 800px;
        height: 300px;

      
    }

    .item-primeiro{
        background-color:#0431B4;
        background-image: url(../imagens/img-03.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        border-radius: 10%;
        
        
        font-weight: bold;
        width: 250px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      
    }

    .item-segundo{
        background-color:#0431B4;
        background-image: url(../imagens/img-02.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        border-radius: 10%;
        
        font-weight: bold;
        width: 250px;
        height: 300px;

        margin-top: -37.5%;
        margin-left: 35%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      
    }

    .item-terceiro{
        background-color:#0431B4;
        background-image: url(../imagens/img-03.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        border-radius: 10%;
        
        font-weight: bold;
        width: 250px;
        height: 300px;

        margin-top: -37.5%;
        margin-left: 70%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      
    }

    .atividades{
        background-color:#0080FF;
        width: 800px;
        height: 300px;
        margin-top: 3%;
        margin-left: 10%;
        /*background-image: url(../imagens/atividade.png);*/
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 45%;
        border-radius: 1%;
    }
    .atividades p{
        text-align: center;
        padding-top: 2%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        
    }

    .base-texto{
        color: #C0C0C0;
        font-size: 90%;
        text-align: center;
        margin-top: 5%;
    }

    .rede-sociais{
        
        margin-top: -4%;
        margin-left: -7%;
        color:darkgrey;
        
    }

    .telefone{
        color:darkgrey;
        font-size: 90%;
        margin-top: -7%;
        margin-left: 80%;

    }


    .base{
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 10%;
        background-color: #0431B4;
        height: 80px;
        width: 800px;
        
        border-top-width: 10px;
        border-top-style: solid;
        border-color: black;
    }


}

@media (min-width: 1200px){
    /*computador*/
    body{
    font-family: arial, sans-serif;
    background:	#C0C0C0;
    width: 75%;
	margin: auto;

    }

    .principal{
        background-color: blue;
        height: 1000px;
        width: 1000px;
       
        margin-top: 5px;
    }

    .topo-img{
        background-image: url(../imagens/topo.png);
        background-repeat: no-repeat;       
        width: 600px;
        height: 338px;
        margin-top: 1%;
        margin-left: 20%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 2%;
    }

    .menu-detalhe{
        background-color: aliceblue;
        opacity: 0.5;
        
        border-bottom: #000080;
        border-width: 3px;
        border-bottom-style: solid;
        border-radius: 10px 10px 0px 0px;


    }

    .menu{
        color: 	#000080;     
        
        font-weight: bold;
        margin-left: 8%;
        padding-left: 10%;
    }

    .itens-centro{
        
        font-weight: bold;
        margin-left: 10%;
        margin-top: 1%;
        width: 800px;
        height: 300px;

      
    }

    .item-primeiro{
        background-color:#0431B4;
        background-image: url(../imagens/img-01.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        border-radius: 10%;
        
        font-weight: bold;
        width: 250px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      
    }

    .item-segundo{
        background-color:#0431B4;
        background-image: url(../imagens/img-02.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        border-radius: 10%;
        
        font-weight: bold;
        width: 250px;
        height: 300px;

        margin-top: -37.5%;
        margin-left: 35%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      
    }

    .item-terceiro{
        background-color:#0431B4;
        background-image: url(../imagens/img-03.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        border-radius: 10%;
        
        font-weight: bold;
        width: 250px;
        height: 300px;

        margin-top: -37.5%;
        margin-left: 70%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      
    }

    .atividades{
        background-color:#0080FF;
        width: 800px;
        height: 300px;
        margin-top: 3%;
        margin-left: 10%;
        /*background-image: url(../imagens/atividade.png);*/
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 1%;
        background-size: 45%;
    }
    .atividades p{
        text-align: center;
        padding-top: 2%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        
    }

    .form-contato{
        background-color:#0431B4;
        color: #C0C0C0;
        width: 800px;
        height: 300px;
        margin-top: 3%;
        margin-left: 10%;
        /*background-image: url(../imagens/atividade.png);*/
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 1%;
        background-size: 45%; 
    }

    .form-contato h1{
        text-align: center;
     }


    .base-texto{
        color: #C0C0C0;
        font-size: 90%;
        text-align: center;
        margin-top: 5%;
    }

    .rede-sociais{
        
        margin-top: -4%;
        margin-left: -7%;
        color:darkgrey;
        
    }

    .telefone{
        color:darkgrey;
        font-size: 90%;
        margin-top: -7%;
        margin-left: 80%;

    }

    .base{
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 10%;
        /*background-color: #000080;*/
        background-color: #0431B4;
        height: 80px;
        width: 800px;
        
        border-top-width: 10px;
        border-top-style: solid;
        border-color: black;
        border-radius: 0px 0px 10px 10px;
    }


}